/**
 * This file will contain styles that will apply to the entire application
 */

 /*
 * SETUP special fonts
 */
@font-face {
	font-family: 'Homemade Apple';
	font-style: normal;
	font-weight: 400;
	src: local('Homemade Apple'), local('HomemadeApple'), url(https://fonts.gstatic.com/s/homemadeapple/v6/yg3UMEsefgZ8IHz_ryz86EW_vJ3SwAPP1y1E1dXjZPo.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  
  @font-face {
	font-family: 'HarryPotter';
	src: url('/css/fonts/HarryPotter.ttf') format('truetype');
  }
  
  @font-face {
	font-family: 'Hogwarts';
	src: url('/css/fonts/Hogwarts.ttf') format('truetype');
  }

  @font-face {
	font-family: 'Inkpot';
	src: url('/css/fonts/Inkpot.ttf') format('truetype');
  }

  .font-harry-potter {
	  font-family:'HarryPotter';
  }
  
  .font-hogwarts {
	  font-family:'Hogwarts';
  }

  .font-inkpot {
	  font-family:'Inkpot';
  }
  

/**
 * Sidewide HTML Elements
 */
  html, body { font-size: 10px; }
  
  @media (max-width: 480px) {
	  html, body { font-size: 8px; }
  }
  

/* TYPOGRAPHY */
h1 {
	font-family: 'HarryPotter';
	color: #fff788;
	text-shadow: 2px 2px rgba(255,255,255,0.5);
	font-weight: normal;
	font-size: 7em;
	line-height: 1.1;
	margin: auto;
	padding: 20px 20px;
}

h2 {
    color: white;
    font-size: 5em;
    font-weight: normal;
    font-family: 'Inkpot';
    margin: 0;
}

h3 { 
	font-family: 'Hogwarts';
	color: white;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 100;
}